@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");

@import "../../node_modules/bulma/sass/utilities/initial-variables";

// Set your brand colors
$purple: #8A4D76;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$body-family: Arial;
$family-sans-serif: arial;
$grey-dark: $brown;
$grey-light: $beige-light;
$grey : rgba(0, 0, 0, 0.5);
$primary: #255895;
$link: #00a2e1;
$warning: #f6a803;
// Update some of Bulma's component variables

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$button-padding-horizontal: 4.25rem;
$button-padding: 4.25rem 2.5rem 4.25rem 1.5rem;
$footer-padding: 3rem 1.5rem 1rem;
$size-1: 100px;
/* ==========================================================================
0. Tablet Landscape
========================================================================== */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* ==========================================================================
1. Tablet Portrait
========================================================================== */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .landing-caption {
        padding: 0 10%;
        .divider {
            margin: 0 auto;
        }
        h1, h2, p {
            text-align: center !important;
        }
        h1 {
            padding: 0 10%;
        }
    }
    //features
    .feature p {
        padding: 0 25%;
    }
    //Side features
    .side-feature-content {
        text-align: center;
        img {
            display: block;
            margin: 10px auto;
        }
        .divider {
            margin: 0 auto;
        }
        p {
            padding: 0 12%;
        }
    }
    //tabs
    .flying-wrapper {
        ul {
            .item-content {
                font-size: 80% !important;
            }
        }
    }
    //team
    .team-member-container {
        margin: 0 25%;
    }
}

/* ==========================================================================
2. Mobile
========================================================================== */

@media (max-width: 767px) {
    //Navbar
    .navbar {
        .navbar-item {
            &.is-nav-link {
                text-align: center !important;
            }
        }
        .button.slanted {
            width: 100% !important;
        }
    }
}


/* ==========================================================================
3. Mixed Mobile / Tablet Portrait
========================================================================== */

@media (max-width: 768px) {
    .carousel-medium {
        height: 220px;
    }
    
}

.main {
    background-color: white
}
.item-1 {
    background: url(../images/BG1.webp);
    background-size: cover;
    background-position: top right;
}

.item-2 {
    background: url(../images/BG2.webp);
    background-size: cover;
    background-position: top right;
}
.contact {
    border-radius: 1%;
    border-style: solid;
    border-color: $primary;
    border-width: 2px;
}


.link {
    text-decoration: none !important;
}
.link:hover {
    cursor: pointer;
}
html *
{
   font-family: 'Istok Web' !important;
}

.title {
    font-family: "Cinzel" !important;
    margin-bottom: 2%;
    margin-top: 1%;
}

.first {
    padding-top: 80px
}
p {
    strong {
        color: $primary
    }
} 


@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-extensions/src/sass/index.sass";
@import "../../node_modules/bulma-steps-component/bulma-steps.sass"